*.DS_Store
*.editorconfig
.idea
.jscsrc
.jshintrc
.travis.yml
*.txt
*.log
/node_modules/*
/dist/*
*.happypack/*
vendor-manifest.json
webpack.entries.json
modulesCfg.js
package-lock.json
check.js
/screen/*
.vscode
/config/env.json